body {
    font-family: sans-serif;
    max-width: 800px;
    text-align: left;
    margin: 0 auto;
}

header, main {
    width: calc(100% - 20px);
    display: block;
    margin: 0 10px;
}

#links {
    display:block;
    margin: 0;
    padding: 0;
}

#links div {
    border-bottom: 1px solid black;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

#links h2 {
    margin-bottom: 5px;
}

#links div a {
    align-items: center;
    background-color: #fafafa;
    border: 1px solid #b9b9b9;
    border-radius: 5px;
    display: inline-flex;
    flex-wrap:wrap;
    justify-content: center;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    height: 25px;
    text-decoration: none;
    text-transform: capitalize;
    overflow: hidden;
    padding: 5px;
    margin: 0 10px 0 0;
    word-break: break-word;
}

#links div a:hover {
    background-color: #8bff61;
}