body {
    font-family: sans-serif;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

header, main {
    width: calc(100% - 20px);
    display: block;
    margin: 0 10px;
}

ul#links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#links li a {
    align-items: center;
    border: 1px solid #353535;
    border-radius: 5px;
    display: flex;
    height: 60px;
    justify-content: center;
    width: 100%;
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    overflow: hidden;
    word-break: break-word;
}

#links li a:hover {
    background-color: #8bff61;
}